<h3>Create Task</h3>
<div [hidden]="submitted" style="width: 400px;">
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="task">Task Name</label>
            <input type="text" class="form-control" id="description" required [(ngModel)]="task.description"  name="description">
        </div>

       
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>

<div [hidden]="!submitted">
    <h4>You submitted successfully!</h4>
</div>