<button class="btn btn-danger" (click)="open(content)">Delete Task</button>

<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-primary-title">Are you sure you want to delete this task?</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <button class="btn btn-danger" (click)="modal.close(); onCloseModal()" >Yes</button>&nbsp;&nbsp;<button class="btn btn-secondary" (click)="modal.dismiss('Cancel')">Cancel</button>
    </div>
  </ng-template>