<div class="container">
  <fieldset class="form-group">
    <label>Rename Task</label>
    <input type="text" [(ngModel)] = "task.description" class="form-control" name="description" required="required">
  </fieldset>
  <fieldset class="form-group">
    <label>Change Date</label>
    <input type="date" 
    [ngModel] = "task.date | date:'yyyy-MM-dd' "
    (ngModelChange)="task.date = $event"
    class="form-control" name="Date" required="required">
    </fieldset>

    <button class="btn btn-success" (click)="saveTask()">Submit</button>
</div>