<div class="container"> 
    <app-create-task></app-create-task>
  <div  *ngIf="tasks">
  <table class="table table-bordered table-hover">
    <thead>
      <th>Task Description</th>
      <th>Date</th>
      <th>Actions</th>
        </thead> 
    <tbody>
      <tr *ngFor="let task of tasks">
        <td contentEditable (blur)="updateTaskInTable(task.id , $event)">{{task.description}}</td>    
        <td>{{task.date | date}}</td> 
         <td (mouseover)="setIdToBeDeleted(task.id)"><app-delete-modal></app-delete-modal>
      </tr>
    </tbody>
  </table>
</div>
</div>

