<div class="float-right">
    <button class="btn btn-info" (click)="open(content)">Logout</button>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-primary-title">Logout Confirmation</h4>
      <button type="button" class="close" aria-label="Close" (click)="onAbort('Cancel')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      Are you sure you want to logout?
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" (click)="onCloseModal()" >Logout</button>
        &nbsp;&nbsp;
        <button class="btn btn-secondary" (click)="onAbort('Cancel')">Cancel</button>
    </div>
  </ng-template>