<div class="container"> 
    <app-create-task></app-create-task>
  <div  *ngIf="tasks">
  <table class="table table-bordered table-hover">
    <thead class="text-center">
      <th>{{ 'table.description' | translate }}</th>
      <th>{{ 'table.date' | translate }}</th>
      <th>{{ 'table.actions' | translate }}</th>
        </thead> 
    <tbody class="text-center">
      <tr *ngFor="let task of tasks">
        <td contentEditable (blur)="updateTaskInTable(task.id , $event)">{{task.description}}</td>    
        <td>{{task.date | date :'short'}}</td> 
         <td>
           <app-delete-modal
           [modalHeader] = 'modalHeader'
           [modalBody] = 'modalBody'
           (messageEvent)="receiveMessage($event , task.id)">
          </app-delete-modal>
          </td>
      </tr>
    </tbody>
  </table>
</div>
</div>

