<html>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>

<body>
  <div class="container">
    <h1 class="text-danger text-center">{{ title }}!</h1>
    <hr />

    <div id="fetchbtn">
      <button type="button" class="btn btn-outline-success" (click)="printTasks();">Show tasks</button>
    </div>


    <div *ngIf="myresponse">
      <table class="table table-bordered table-hover">
        <thead>
          <th>Task Id</th>
          <th>Task Description</th>
          <th>Completed</th>
          <th>Date</th>
            </thead>
        <tbody>
          <tr *ngFor="let todo of myresponse">
            <td>{{todo.id}}</td>
            <td>{{todo.description}}</td>   
            <td>{{todo.isDone}}</td>   
            <td>{{todo.date}}</td>             
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>

</html>