<div class = "container">
  <div class="text-sm-center">
    <p>
      Feugiat nisl pretium fusce id velit ut tortor. Viverra tellus 
      in hac habitasse platea dictumst vestibulum. Tincidunt vitae 
      semper quis lectus nulla at volutpat diam. Ultricies leo 
      integer malesuada nunc vel. Potenti nullam ac tortor vitae 
      purus faucibus ornare suspendisse. Habitant morbi 
      tristique senectus et netus et malesuada fames. Pharetra 
      convallis posuere morbi leo. Sapien et ligula ullamcorper 
      malesuada. Duis ut diam quam nulla porttitor massa id. 
      Non curabitur gravida arcu ac tortor. Integer quis auctor 
      elit sed. Non arcu risus quis varius quam.
    </p>

  </div>

</div>
<br>
<br><br><br><br><br><br><br><br>
