<button class="btn btn-danger" (click)="open(content)">Delete Task</button>

<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-primary-title">{{ modalHeader }}</h4>
      <button type="button" class="close" aria-label="Close" (click)="onAbort('Cancel')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      {{ modalBody }}
      <span class="text-danger">This cannot be undone.</span>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" (click)="onCloseModal()" >Yes</button>
        &nbsp;&nbsp;
        <button class="btn btn-secondary" (click)="onAbort('Cancel')">Cancel</button>
    </div>
  </ng-template>