<div class="container">
    <h1 class="text-danger text-center" routerLink=''>{{ 'application.title' | translate }}</h1>
    <br>
    <br>
    <div class = "row">
        <div class ="col">
            <div class="float-right">
                <button 
                    class="btn btn-flat btn-lg" 
                    *ngFor="let l of languageList" 
                    (click)="useLanguage(l.iso)">{{l.language}}
                </button>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
</div>