<div class="container">
    <div class = "row">
        <div class ="col text-center">
            <a routerLink=''>
                <img src="../../assets/download.png" height="200" width="200">
            </a>
        </div>
    </div>
    <!-- <h1 class="text-danger text-center" routerLink=''>{{ 'application.title' | translate }}</h1> -->
    <div class = "row">
        <div class ="col">
            <div class="float-right">
                <button 
                    class="btn btn-flat btn-lg" 
                    *ngFor="let l of languageList" 
                    (click)="useLanguage(l.iso)">{{l.language}}
                </button>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
</div>