<div class="container col-md-4 offset-md-4">
    <div class="row">
      <form>
        <div class="register-form">
          <div class="form-group">
            <h1 class="text-center">Register</h1>
            <p class="text-muted text-center">Create your account. It's free.</p>
          </div>
          <br>
          <div>
              <div class="form-group">
            <input type="text" class="form-control" placeholder="Enter Username" name="Username">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" placeholder="Enter Password" name="psw">
          </div>
          <br>
          <div class="form-group">
            <label class="checkbox-inline"><input type="checkbox"> I accept the <a routerLink="/about">Terms of Use</a> &amp; <a routerLink="/about">Privacy Policy</a></label>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-success btn-block" routerLink="">Sign Up</button>&nbsp;&nbsp;
          </div>
          </div>
        </div>
      </form>
    </div>
</div>